ul li {
    list-style: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: #ffffff;

}

ul li a {
    display: flex;
}

body {
    color: #ffffff;
    background-color: #0e1554;
    background-image: linear-gradient(to right, rgb(60, 50, 88), rgb(150, 80, 150));
    max-width: 800px;
    margin: 0 auto;
    padding: 2em 0;
}

h1 {
    font-size: 36px;
    font-family: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    margin:0;

}

h2 {
    font-size: 30px;
    font-family: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    text-transform:capitalize;
}


h4 {
    font-family: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.grid-content {
    display: grid;
    gap: 50px;
}

.grid-items {
    padding: 10px;
    background-color: #03022f;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

 .main-container h4 {
    margin:5px 10px;
    text-transform :capitalize;
} 

.main-container p{
    margin:5px 10px;
}

.content-container {
    display: flex;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";

}

.font-wrapper {
    font-size: 12px;
    color: #9ca3af;
    font-family: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.time-wrapper {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
}

.hour-wrapper {
    font-size: 16px;
    font-family: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.power-wrapper{
    margin-bottom: 5px;
}

.button-wrapper{
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.footer-container {
    font-size: 14px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.content-font {
    font-weight: bold;
}

.glow-button{
    width: 5px;
    height: 5px;
    border: 1px solid #00ff15;
    border-radius: 50px;
    background-color: #00ff15;
    box-shadow: 0px 0px 15px 4px #00ff15;
}

span{
    margin-left: 10px;
}

#district-list {
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
    padding :20px 0;
}

.btn {
    padding: 10px;
    background:white;
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.btn:hover {
    background: lightblue;
}

.btn:active {
    background: lightgrey;
}